.balance-page {
  padding-top: 50px;
  @include sol576 {
    padding-top: 25px;
  }
  &__title-row {
    display: flex;
    gap: 40px;
    justify-content: space-between;
    margin-bottom: 30px;
    align-items: center;
  }

  &__title{}
  &__back-link {
    display: flex;
    align-items: center;
    gap: 10px;
    letter-spacing: -0.16px;
    @include sol920 {
      font-size: 0;
      gap: 0;
      padding: 10px 18px;
    }
  }

  &__balance-row{
    display: flex;
    display: flex;
    gap: 2.5%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    @include sol920 {
      flex-direction: column;
      gap: 30px;
      align-items: flex-start
    }
  }
  &__num {
    @include resetMg;
    flex-basis: 60%;
    font-size: clamp(1.1rem, 1.6vw + 0.8rem, 2.125rem);
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.68px;
  }

  &__balance {
    @include resetMg;
    flex-basis: 38.5%;
  }
  &__chart-block {
    min-height: 288px;
    margin-bottom: 50px;
  }
  &__history-block {
    min-height: 345px;
  }
}

.dynamic-chart {
  padding: 25px 100px 20px;
  @include sol920 {
    padding: 25px 25px 20px;
  }

  &__wrap {
    flex-grow: 1;
  }
}

.ratio-chart {
  padding: 25px 100px 20px;
  @include sol920 {
    padding: 25px 25px 20px;
  }

  &__wrap {
    flex-grow: 1;
  }
}

// pagination block
.pagination {
  min-height: 40px;
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  @include sol576 {
    flex-direction: column;
  }

  a {
    text-decoration: none;
    outline: none;
    // color: inherit;
  }

  &__wrapper {
  }

  &__btn {
    display: inline-block;
    padding: 5px 10px;
    margin-inline: 5px;
    line-height: 150%;
    border: 1px solid $brand-primary;
    border-radius: 7px;
    height: 100%;
    color: $gray-black;
    transition: color 0.3s ease, background-color 0.3s ease;
    &--current {}

    &:focus, &--current {
      background-color: $brand-primary;
      color: $white;
    }
    &:hover:not(:focus):not(.pagination__btn--current) {
      background-color: $brand-primary-hov;
    }
    &:active {
      background-color: $brand-primary-act;
    }
  }

  &__ellipsis {
    display: inline-block;
    padding: 7px;
    line-height: 150%;
    // border: 1px solid #eaeaea;
    // border-radius: 7px;
    height: 100%;
  }

  &__controls {
    display: flex;
    gap: 10px;

    &--left {}

    &--right {}
  }

  &__control {
    display: inline-block;
    padding: 5px 10px;
    line-height: 150%;
    border: 1px solid $brand-primary;
    border-radius: 7px;
    height: 100%;
    color: $gray-black;
    transition: color 0.3s ease, background-color 0.3s ease;
    &--prev {}

    &--next {}

    &--start {}

    &--end {}

    &--disabled {
      pointer-events: none;
      opacity: 0.5;
    }
    &:focus-visible {
      background-color: $brand-primary;
      color: $white;
    }
    &:hover {
      background-color: $brand-primary-hov;
    }
    &:active {
      background-color: $brand-primary-act;
    }
  }
}
