@import './variables';

// container первая переменная max-width, вторая - padding
[id="bank-app"] {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page {
  flex-grow: 1;
  padding-bottom: 40px;
}


.container {
  @include container(1370px, 15px);
}

// заголовки
.title {
  @include resetMg;
  // font-family: 'WorkSans', sans-serif;
  font-weight: 700;

  &--lg {
    // font-size: 2.125rem;
    font-size: clamp(1.5rem, 0.9vw + 1.3rem, 2.125rem);
    line-height: 117.647059%;
    /* 40px/34 */
  }

  &--m {
    // font-size: 1.4375rem;
    font-size: clamp(1.2rem, 0.3vw + 1.1rem, 1.4375rem);
    line-height: 115%;
    /* 23px/20 */
  }
}

// синяя кнопка общие стили
.blue-btn {
  padding: 16px 24px;
  background-color: $brand-primary;
  border-radius: 7px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  font-size: 1rem;
  line-height: 125%;
  /* 20px/16 */
  color: $white;
  transition: background-color 0.3s ease;
  @include sol576 {
    font-weight: 400;
    padding: 10px 15px;
  }

  &:focus-visible, &:hover {
    background-color: $brand-primary-hov;
  }

  &:active {
    background-color: $brand-primary-act;
  }

  &--sm {
    padding: 14px 21px;
    font-size: 0.875rem;
    @include sol576 {
      padding: 10px 15px;
    }
  }

  &--m {
    padding: 18px 27px;
    font-size: 1.125rem;
  }

  &--back {
    svg {
      width: 24px;
      aspect-ratio: 1/1;
    }
  }
}

// блоки общие стили
.common-block {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 25px;
  border-radius: 50px;
  @include sol920 {
    border-radius: 20px;
  }

  &--white {
    background: $white;
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.25);
  }

  &--grey {
    background-color: $gray-7;
  }
}

// номер счета на страницах "просмотр счета и история баланса
.count-num {
  // font-family: 'WorkSans', sans-serif;
  color: $gray-black;
  font-size: 2.125rem;
  font-weight: 400;
  letter-spacing: -0.68px;

}

// стили диаграммы для отзывчивости, рекомендовано chart.js
.chart {
  position: relative;
  width: 100%;
}
// стили для валидации полей. messageType: 'error'/messageType: 'warning'
.error {
  position: relative;
  --error-color: #EB5757;
  &__message {
    position: absolute;
    bottom: 105%;
    right: 10px;
    @include resetMg;
    color: var(--error-color);
  }

  input {
    border-color: var(--error-color);
  }
}

.warning {
  --warning-color: #E2B93B;
}
// блок с ошибками и предупреждениями
.notices {
  position: fixed;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  width: min(100%, 400px);
  max-height: 100vh;
  overflow-y: auto;
  &__list {
    height: 100%;
  }
}

.notice {
  position: relative;
  padding: 50px 30px 30px;
  border-radius: 20px;

  &--error {
    --error-color-tr: #ec6363ed;
    background-color: var(--error-color-tr);

  }

  &--warning {
    --warning-color-tr: #effc5ef5;
    background-color: var(--warning-color-tr);
  }

  &--info {
    --info-color-tr: #a0c3fff1;
    background-color: var(--info-color-tr);
  }
  &__title {
    @include resetMg;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 1.375rem;
  }
  &__text {
    @include resetMg;
    font-size: 1.125rem;
    line-height: 150%;
    font-weight: 600;
  }
  &__btn-close{
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 15px;
    svg {
      display: block;
      width: 20px;
      aspect-ratio: 1/1;
    }
  }
}
