.count-info {
  padding-top: 44px;
  display: grid;
  grid-template-columns: minmax(606px, 1fr) minmax(684px, 1fr);
  grid-template-rows: auto;
  gap: 50px;

  &__title-row {
    grid-column: span 2;
    display: flex;
    gap: 40px;
    justify-content: space-between;
  }

  &__title {}

  &__back-link {}

  &__balance-row {
    grid-column: span 2;
    display: flex;
    gap: 40px;
    justify-content: space-between;
  }

  &__num {
    @include resetMg;
    flex-basis: 40%;
    /* 367px/1329 */
  }

  &__balance {
    @include resetMg;
    flex-basis: 15.124153%;
    /* 201/1329 */
  }

    &__transaction {
    }

    &__chart-block{
    }

    &__history {

      grid-column: span 2;
    }

}

.balance {
  &__text {}

  &__value {}
}

.transaction {
  padding: 25px 50px;
  min-height: 288px;

  &__title {}

  &__select-field {}

  &__amount-field {}

  &__sbmt-btn {}
}

.history {
  padding: 25px 50px;
  min-height: 208px;

  &__title {}

  &__link {
    &::before {
      content: '';
      position: absolute;
      inset: 0;
    }
  }
}

.chart-block {
  padding: 25px 50px;
  min-height: 288px;

  &__title {}

  &__link {



    &::before {
      content: '';
      position: absolute;
      inset: 0;
      // z-index: 10;
    }

    &:focus-visible::before {
      outline: 1px solid red;
    }
  }

  &__canvas-wrap {
    flex-grow: 1;
  }
}
