.counts-page {
  &__title {}

  &__controls {}

  &__sorting {
    .select__item-text{
      &::after {
        content: '\2714';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 15px;
      opacity: 0;
      transition: opacity 0.3s ease;
      }
    }
    .select__def-radio {
      &:checked ~ .select__item-text::after {
        opacity: 1;
      }
    }
  }
}

/******CARD******/
.card {
  &__count-num {}

  &__balance {}

  &__footer {}

  &__transaction {}

  &__link {}
}
