.header {
  padding: 24px 0;
  background-color: $brand-primary;

  &__container {
    display: flex;
    gap: 30px;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    svg {
      display: inline-block;
      width: 100px;
      height: 50px;
    }
  }

  &__logo-img {}

  &__nav {
    display: flex;
    gap: 25px;

    &--hidden{
      display: none;
    }
  }

  &__link {
    padding: 16px 24px;
    background-color: $white;
    border-radius: 7px;
    font-family: 'Ubuntu';
    font-size: 1rem;
    line-height: 125%; /* 20px/16 */
    font-weight: 500;
    color: $brand-primary;
    border: 1px solid $brand-primary;
    transition: background-color 0.3s ease, color 0.3s ease;
    @include sol920 {
      padding: 11px 19px;
    }

    &:focus-visible {
      background-color: $brand-primary-act;
      color: $white;
    }
    &--active, &:hover:not(:focus-visible) {
      background-color: $state-info;
    }

    &:active {
      background-color: #CFE1F5;
    }
  }
}
